<%- include('partials/head')%>
    
    
    <h1 class="title" style="text-align: center"><%= title %></h1>
    <div class="container">
      <a href="/add" type="button" class="btn btn-success">Add Item</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(element => {%>
            <tr>
              <td><%=element.id%></td>
              <td><%=element.name%></td>
              <td><%=element.qty%></td>
              <td><%=element.amount%></td>
              <td style="">
                <button
                  style="background-color: green; color: white; border: none"
                >
                  Edit
                </button>
                <button style="background-color: red; color: white; border: none">
                  Delete
                </button>
              </td>
            </tr>
            <% });%>
        </tbody>
      </table>
    </div>
  </body>
</html>
<%- include('partials/footer')%>